
/*CSS MAPA RESPOSIVO **/

.map-responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.map-responsive #map_canvas {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

div-container{
	background-color: azure;	
}
