<!-- Static navbar -->
	<div class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<div class="row">
					<div class="col-md-3">
						<img src="img/user.jpg" class="img-circle"
							alt="Eduardo Lemos">
					</div>
					<div class="col-md-3">
						<h1 style="color: white;">EDUARDO LEMOS</h1>
					</div>
					<div class="col-md-3">
						<img src="img/java.jpg" class="img-responsive" alt="java">
					</div>
					<div class="col-md-3">
						<h1 style="color: white;">JAVA DEVELOPER</h1>
					</div>
				</div>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right"
					style="font-size: large; font-weight: bold;">
					<li><a href="index.html">Home</a></li>
					<li><a href="contact.html">Contato</a></li>
                    <li><a href="clientes.html#/lista-clientes">Crud Angular</a></li>	
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</div>