<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/user.jpg" class="img-circle" alt="Eduardo Lemos">
                </div>
                <div class="col-md-3">
                    <h1 style="color: white;">EDUARDO LEMOS</h1>
                </div>
                <div class="col-md-3">
                    <img src="img/java.jpg" class="img-responsive" alt="java">
                </div>
                <div class="col-md-3">
                    <h1 style="color: white;">JAVA DEVELOPER</h1>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">

        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div id='cssmenu'>
    <ul>
        <li><a href='index.html'><span>Home</span></a></li>
        <li><a href='contato.html'><span>Contato</span></a></li>
        <li><a href="clientes.html#/lista-clientes"><span>Crud Angular</span></a></li>
        <li><a href="s3.html"><span>Aws S3</span></a></li>
        <li><a href="http://54.232.208.198:8080" target="_blank"><span>Aws EC2 Server</span></a></li>
    </ul>
</div>
