<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <div class="row">
                <div class="col-md-3">
                    <img src="img/user.jpg" class="img-circle" alt="Eduardo Lemos">
                </div>
                <div class="col-md-3">
                    <h1 style="color: white;">EDUARDO LEMOS</h1>
                </div>
                <div class="col-md-3">
                    <img src="img/java.jpg" class="img-responsive" alt="java">
                </div>
                <div class="col-md-3">
                    <h1 style="color: white;">JAVA DEVELOPER</h1>
                </div>
            </div>
        </div>
        <div class="navbar-collapse collapse">
            <div class="btn-group nav navbar-nav navbar-right" role="group" aria-label="...">
                <a href="index.html"><button type="button" class="btn btn-default" style="width:120px;">Home</button></a>
                <a href="contact.html"><button type="button" class="btn btn-default" style="width:120px;">Contato</button></a>
                <a href="clientes.html#/lista-clientes"><button type="button" class="btn btn-default" style="width:120px;">Crud Angular</button></a>
                <a href="s3.html"><button type="button" class="btn btn-default" style="width:120px;">Aws S3</button></a>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
