<!doctype html>
<html ng-app="app" ng-controller="ctrl">

<head>
	<title>TABELA FIPE</title>
	<meta charset="UTF-8">

	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/select.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
	<link href="css/menu.css" rel="stylesheet">

	<script src="js/angular.min.js"></script>
	<script src="js/angular-sanitize.min.js"></script>
	<script src="js/select.min.js"></script>
	<script src="js/fipe.js"></script>
	
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>


</head>

<body ng-controller="ctrl">

	<div ng-include="'template/header.html'"></div>

	<div class="container pt" style="padding:0px;">

		<div class="row mt">
			<div class="col-lg-6 col-lg-offset-3 centered">
				<h1>Consulta Tabela Fipe</h1>
				<hr>
			</div>
		</div>

		<div class="row mt">

			<div class="col-md-4">

				<label>SELECIONE A MARCA</label>
				<ui-select allow-clear="true" ng-model="marca" on-select="consultarVeiculos($item)">
					<ui-select-match>
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="item in (marcas | orderBy: 'name' | filter: $select.search) track by item.id">
						<span ng-bind="item.name"></span>
					</ui-select-choices>
				</ui-select>

			</div>

			<div class="col-md-4">

				<label>SELECIONE O MODELO</label>
				<ui-select allow-clear="true" ng-model="modelo" on-select="consultarModelos($item)">
					<ui-select-match>
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="item in (modelos | orderBy: 'name' | filter: $select.search) track by item.id">
						<span ng-bind="item.name"></span>
					</ui-select-choices>
				</ui-select>

			</div>

			<div class="col-md-4">

				<label>SELECIONE O ANO DO MODELO</label>
				<ui-select allow-clear="true" ng-model="anoModelo" on-select="consultarPreco($item)">
					<ui-select-match>
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="item in (anoModelos | orderBy: 'name' | filter: $select.search) track by item.id">
						<span ng-bind="item.name"></span>
					</ui-select-choices>
				</ui-select>

			</div>

		</div>

		<div class="well" ng-show="consultaFeita">

			<fieldset>

				<legend>Dados Fipe</legend>

				<div class="row">
					<div class="form-group col-md-4">
						<label>Marca</label>
						<input type="text" ng-model="dadosFipe.marca" class="form-control" disabled/>
					</div>
					<div class="form-group col-md-4">
						<label>Modelo</label>
						<input type="text" ng-model="dadosFipe.veiculo" class="form-control" disabled/>
					</div>

					<div class="form-group col-md-4">
						<label>Ano</label>
						<input type="text" ng-model="dadosFipe.ano_modelo" class="form-control" disabled/>
					</div>
				</div>

				<div class="row">
					<div class="form-group col-md-4">
						<label>Código Fipe</label>
						<input type="text" ng-model="dadosFipe.fipe_codigo" class="form-control" disabled/>
					</div>
					<div class="form-group col-md-4">
						<label>Preço</label>
						<input type="text" ng-model="dadosFipe.preco" class="form-control" disabled/>
					</div>
					<div class="form-group col-md-4">
						<label>Referencia</label>
						<input type="text" ng-model="dadosFipe.referencia" class="form-control" disabled/>
					</div>
				</div>

			</fieldset>

		</div>

	</div>

</body>

</html>