<div ng-class="alertClass" style="margin-bottom: 15px; text-transform: uppercase; font-weight: bold;" ng-show="flash.getMessage()">
    {{flash.getMessage()}}
</div>

  <a href="#/form-cliente" style="float:right;">
   <img src="./img/add-icon.png" alt="Incluir" />CADASTRAR
  </a>
<br>

<label>Pesquisar:</label>
<input type="text" ng-model="criterioDeBusca" class="form-control" placeholder="Digite o termo a pesquisar" />

<br>

<table class="table table-striped">
    <tr>
        <th style="width:50%">Nome</th>
        <th style="width:25%">Telefone</th>
        <th style="width:25%">A&ccedil;&otilde;es</th>
    </tr>
    <tr ng-repeat="c in clientes | filter:criterioDeBusca">
        <td>{{c.nome}}</td>
        <td>{{c.telefone}}</td>
        <td>
            <a href="#form-cliente/{{c.id}}">
               <img src="./img/edit-icon.png" alt="Editar"/>
            </a>
            <a href="#lista-clientes">
               <img src="./img/delete-icon.png" alt="Excluir" ng-click="removerCliente(c)" confirmation-needed="Confirma a exclus&atilde;o do cliente {{c.nome}}?"/>
            </a>
        </td>
    </tr>
</table>


